<section>
    <div class="container text-center">
        <h1>
            Converter
        </h1>
        <p>
            Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem
            aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.
            Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit
        </p>
        <form [formGroup]='form' (submit)="send()">
            <div class="row mt-2">
                <div class="col-md-6">
                    <input type="text" class="form-control" placeholder="Dollar" autocomplete="false" currencyMask id="dollar" formControlName="dollar" (keypress)="detect()" (keydown)="detect()">
                </div>
                <div class="col-md-6">
                    <input type="text" class="form-control" placeholder="Euro" currencyMask [options]="{ prefix: '€ '}"  id="euro" formControlName="euro"
                        disabled>
                </div>
            </div>
            <div class="row mt-3">
                <div class="col-md-4 mx-auto">
                    <button class="btn btn-default btn-lg btn-block" type="submit" [disabled]="form.invalid">
                        Convert
                    </button>
                </div>
            </div>
        </form>
    </div>

    <ngx-loading [show]="loading" [template]="customLoadingTemplate"></ngx-loading>

</section>
