@import "../../assets/theme/theme";

section {
    background: $background;
    border-bottom: $border 3px solid;
    border-top: $border 3px solid;
    color: white;
    margin-bottom: 20px;
    margin-top: 20px;
    padding-bottom: 20px;
    padding-top: 20px;
}
