<section>
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                <h6>
                    Title 1
                </h6>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
            </div>
            <div class="col-lg-3">
                <h6>
                    Title 2
                </h6>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
            </div>
            <div class="col-lg-3">
                <h6>
                    Title 3
                </h6>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
            </div>
            <div class="col-lg-3">
                <h6>Title 4</h6>
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-4 pl-0">
                            <img src="https://dummyimage.com/100/d7d7d7/000" class="img-fluid pointer">
                        </div>
                        <div class="col-4 pl-0">
                            <img src="https://dummyimage.com/100/d7d7d7/000" class="img-fluid pointer">
                        </div>
                        <div class="col-4 pl-0">
                            <img src="https://dummyimage.com/100/d7d7d7/000" class="img-fluid pointer">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>