@import "../../../../assets/theme/theme";


section{
    background: $background;
    border-top: $border 2px solid;
    padding: 20px;

    @media screen and (min-width: 900px) {
        position: fixed;
        bottom: 0px;
        width: 100%;
    }

    h6{
        color: $color-strong;
        font-weight: 900;
    }

    p{
        color: $color-strong;
        font-weight: 200;
    }
}
