/* You can add global styles to this file, and also import other style files */
@import "assets/theme/theme";


body{
    color: $color;
    position: relative;
}

/* Botones */
.btn {
  border-radius: 0;
}
.btn:disabled {
  cursor: not-allowed;
}

.btn-default {
  background: $default;
  color: white;
}

/* Input */
.form-control{
  border-radius: 0px;
  text-align: center;
}

.form-control::placeholder{
  text-align: center;
}


/* Utilidades */
.pointer {
  cursor: pointer;
}

.center-vertical {
  display: flex;
  justify-content: center;
  align-items: center;
}

.miniature {
  transform: scale(0.6);
}

.rounder {
    border-radius: 100%;
}