<div class="container">
    <div class="row mt-3">
        <div class="col-xl-1 col-lg-2 col-md-2 col-6 mx-auto justify-content-center">
            <img src="https://dummyimage.com/400/d7d7d7/000" class="img-fluid pointer rounder">
        </div>
    </div>

    <ul class="nav mt-2 justify-content-center">
        <li class="nav-item">
            <a class="nav-link" href="#">ItemLink</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">ItemLink</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">ItemLink</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">ItemLink</a>
        </li>
    </ul>
</div>